@using MediClub.MVC.Models;
@model IEnumerable<Doctor>

@{
    ViewData["Title"] = "Doctors List";
}

<h2>Doctors List</h2>

<a href="@Url.Action("Create", "Doctor", new { area = "Admin" })" class="btn btn-primary">Add New Doctor</a>

<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Finkod</th>
       
            <th>Phone Number</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var doctor in Model)
        {
            <tr>
                <td>@doctor.Id</td>
                <td>@doctor.Name</td>
                <td>@doctor.Surname</td>
                <td>@doctor.Finkod</td>
               
                <td>@doctor.PhoneNumber</td>
                <td>
                    <a href="@Url.Action("Update", "Doctor", new { id = doctor.Id, area = "Admin" })" class="btn btn-warning btn-sm">Edit</a>
                    <a href="@Url.Action("Delete", "Doctor", new { id = doctor.Id, area = "Admin" })" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
